.conteiner {
  display: flex;
  flex-direction: row;
  margin: 0;
  width: 100vw;
}

/* Filtro */

.filtro {
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  color: #1c1c1c;
  width: 10vw;
  margin-right: 20px;
  margin-left: 0;
  margin-top: 72px;
  padding: 25px;
}

#fieldsetFiltro {
  border: 1px solid #041832;
  width: auto;
}

#legendFiltro {
  border: 1px solid #041832;
  padding: 10px;
  text-align: center;
  background: #3468a7;
  border-radius: 8px;
  width: auto;
}

#titulo {
  text-transform: uppercase;
  border-bottom: 2px solid black;
  font-size: 100%;
}

.radioBoxFiltro {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}

#radioFiltro {
  margin-left: 10px;
  margin-bottom: 5px;
}

#submitFiltro {
  background-image: linear-gradient(230.65deg, #3468a7 27.49%, #9A58DB 83.19%);
  width: 100%;
  border: none;
  margin-top: 10px;
  padding: 15px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}

#submitFiltro:hover {
  background-image: linear-gradient(230.65deg, #9A58DB 27.49%, #3468a7 83.19%);
}

/*----------Acervo usuario----------*/

.containerLivro {
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  color: #1c1c1c;
  min-height: 600px;
  width: 60vw;
  margin-top: 72px;
  padding: 25px;
}

.livros {
  background: #ecf4ff;
  border-radius: 20px;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-self: center;
  margin-top: 20px;
}

.livros img {
  border-radius: 20px;
  width: 200px;
}

.conteudoLivro {
  margin-left: 15%;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: space-around;
}

.conteudoLivro h1 {
  text-align: center;
}

.infLivros {
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid #000;
}

#tituloLivro {
  text-transform: uppercase;
  border-bottom: 2px solid black;
}

/* ----------Mais adicionados---------- */

.livroFavorito {
  display: flex;
  flex-direction: column;
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  width: 27vw;
  margin-top: 72px;
  margin-left: 20px;
  margin-right: 0;
  padding: 20px;
  border: 1px solid #041832;
}

.livroFavorito .container {
  width: 100%;
  height: 100%;
  padding-top: 10px;
}

.listaLivroFav {
  background: #fff;
  width: 100%;
  height: 33%;
  margin-top: 5px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#legendLivro {
  border: 1px solid #041832;
  text-align: center;
  background: #3468a7;
  border-radius: 8px;
}
.imgLivroFav {
  width: 100%;
  height: 74%;
}
.conLivroFav {
  background: rgb(189, 188, 188);
  width: 100%;
  height: 26%;
  margin-bottom: 0;
}
.conLivroFav a{
  text-decoration: none;
}
.buttonIcon{
  margin-top: 10%;
  width: 100%;
  height: 50%;
}
.titulo-h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.titulo-p {
  font-weight: 400;
  font-size: 20px;
}

.marcadores {
  width: 100%;
  display: flex;
}

/*----------CSS Biblioteca----------*/

.col-sm-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-md-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.bookObject {
  border: 3px solid gainsboro;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 19vw;
  height: 25vw;
  background: #fff;
}

.imgLivroBiclioteca {
  background-color: hotpink;
  width: 90%;
  height: 60%;
}

.imgLivroBiclioteca img {
  width: 100%;
  height: 100%;
}

.infBook {
  border: 3px solid gainsboro;
  background: rgb(189, 188, 188);
  text-transform: uppercase;
  width: 90%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.infBook h1 {
  font-size: calc(1em + 1vw);
  text-align: center;
}

#salvar {
  text-decoration: none;
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  width: 170px;
  height: 25px;
}

#salvar:hover {
  background-color: #008CBA;
  color: white;
}