/*----------Acervo usuario----------*/

.conteiner {
  display: flex;
  flex-direction: row;
  margin: 0;
  width: 100vw;
}
.filtro{
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  color: #1c1c1c;
  min-height: 600px;
  width: 20vw;
  margin-top: 20px;
  margin-right: 20px;
  padding: 25px;
}
.containerLivro {
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  color: #1c1c1c;
  min-height: 600px;
  width: 80vw;
  margin-top: 20px;
  padding: 25px;
}

.livros {
  background: #ecf4ff;
  border-radius: 20px;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-self: center;
  margin-top: 20px;
}

.livros img {
  border-radius: 20px;
  width: 200px;
}

.conteudoLivro {
  margin-left: 15%;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: space-around;
}

.conteudoLivro h1 {
  text-align: center;
}

.infLivros {
  border-radius: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#tituloLivro {
  text-transform: uppercase;
}

.lineL {
  padding-right: 15px;
}

/*----------CSS Biblioteca----------*/

.bookObject {
  border: 3px solid gainsboro;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  width: 27vw;
  background: #fff;
}

.imgLivroBiclioteca img {
  width: 25vw;
  height: 55vh;
  justify-self: center;
}

.infBook {
  border: 3px solid gainsboro;
  background: rgb(189, 188, 188);
  padding: 5px;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.col-sm-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-md-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #008CBA;
  color: white;
}

.button {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}