.cabecalho {
	background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
	box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
}

.logo img {
	width: 350px;
}

.menu ul {
	list-style-type: none;
	padding: 0;
}

.menu ul li {
	display: inline;
	position: relative;
}

.menu ul li a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
	display: inline-block;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.2em;
}

.menu ul li a:hover {
	background-color: dodgerblue;
}

.cadLog {
	float: right;
	width: auto;
}

.usuario {
	float: right;
	width: 190px;
}

/*sub menu*/

.sub-menu {
	background: #9cc8fc;
	display: none;
	left: 0;
	width: auto;
	position: absolute;
}
li:hover .sub-menu {
	display: block;	
}
.sub-menu li a{
	width: auto;
}
.menu ul li:hover .sub-menu {
	display: block;
}

.menu ul li:hover .sub-menu li a {
	display: block;
}

/* sub-menu em um sub-menu */

.collection {
	width: auto;
	background: #9cc8fc;
	display: none;
	left: 0;
	position: absolute;
}

.sub-menu li:hover .collection {
	display: block;
	width: auto;
	left: -152px;
	top: 0;
}