.menu {
	border-radius: 20px;
	background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
	box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
}

.menu ul {
	list-style-type: none;
	padding: 0;
}

.menu .menu-list {
	max-width: 800px;
	background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
	border-radius: 20px;
}

.menu ul li {
	display: inline;
	position: relative;
}

.menu ul li a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
	display: inline-block;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 0.2em;
}

.menu ul li a:hover {
	background-color: dodgerblue;
}

.cadLog, .usuario {
	float: right;
}

/*sub menu*/

.menu ul ul {
	background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
	display: none;
	left: 0;
	position: absolute;
}

.menu ul li:hover ul {
	display: block;
}

.menu ul ul {
	width: auto;
}

.menu ul li ul li a {
	display: block;
}