@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
    background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
}

.container {
    background: #ecf4ff;
    color: #1c1c1c;
    border-radius: 20px;
    box-shadow: 6px 6px #120d2e;
    margin: 30px;
    padding: 20px;
}

.conteudo {
    background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
    box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
    border-radius: 20px;
    color: #1c1c1c;
    min-height: 700px;
    width: 100%;
    margin-top: 20px;
    padding: 25px;
}

.titulo h1 {
    font-weight: 700;
    font-size: 36px;
}

.titulo p {
    font-weight: 400;
    font-size: 60px;
}

footer {
    background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
    box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
    border-radius: 20px;
    color: #1c1c1c;
    text-align: right;
    margin-top: 20px;
    padding-right: 5px;
}